/*----------------------------------------
------------------------------------------
	## GENERAL
------------------------------------------
----------------------------------------*/

body {
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	tap-highlight-color: rgba(0,0,0,0);
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a, a:hover {
	text-decoration: none;
}

*:focus, *:hover, * {
	outline: none;
}

.cf::after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}

.no-padding {
	padding-left: 0!important;
	padding-right: 0!important;
}

.wow {
	visibility: hidden;
}

.vcenter {
	display: flex;
	align-items: center;
}

.valign {
	display: flex;
	flex-direction: row;

	> [class^="col-"],
	> [class*=" col-"] {
		display: flex;
		align-items: center;
		justify-content: center;
	}
} // END VALIGN

.fancybox-slide > * {
	padding: 0;
}

.fancybox-content {
	background-color: transparent;
	text-align: center;
} // END FANCYBOX CONTENT

a {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	outline: none!important;
}

img, svg, [style*=background-image] {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	max-width: 100%;
    image-rendering: -webkit-optimize-contrast;
}

button {
	outline: none!important;
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}

textarea, input {
	-webkit-appearance: none;
}

textarea {
	resize: vertical;
}

form label[for="sendContact"],
form label[for="sendNews"] {
	cursor: pointer;
}

h1, h2, h3, h4, p {
	margin: 0;
}

body.no-scroll {
	overflow: hidden!important;
}

br {
	line-height: inherit;
}

.block { display: inline-block; }
.rellax { display: inline-block; }

p, a, h1, h2, h3, li, span, button, br, b, strong {
	font-family: sans-serif;
} // END SANS SERIF EVERYTHING

button {
	&:focus {
		background-color: transparent;
	}
}

.body-overflow {
	overflow: hidden;
	position: relative;
}

.video-wrapper {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.video-wrapper iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

section,
main {
	position: relative;
}

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] {
	cursor: pointer;
}

a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
	cursor: default;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] {
	appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	appearance: none;
}

textarea {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11,
.col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
.col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11,
.col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7,
.col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11,
.col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7,
.col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11,
.col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7,
.col-xl-8, .col-xl-9, .col-xl-auto {
	position: unset;
}

.col-xs-push-1, .col-xs-push-2, .col-xs-push-3, .col-xs-push-4, .col-xs-push-5, .col-xs-push-6, .col-xs-push-7, .col-xs-push-8, .col-xs-push-9, .col-xs-push-10, .col-xs-push-11, .col-xs-push-12,
.col-sm-push-1, .col-sm-push-2, .col-sm-push-3, .col-sm-push-4, .col-sm-push-5, .col-sm-push-6, .col-sm-push-7, .col-sm-push-8, .col-sm-push-9, .col-sm-push-10, .col-sm-push-11, .col-sm-push-12,
.col-md-push-1, .col-md-push-2, .col-md-push-3, .col-md-push-4, .col-md-push-5, .col-md-push-6, .col-md-push-7, .col-md-push-8, .col-md-push-9, .col-md-push-10, .col-md-push-11, .col-md-push-12,
.col-lg-push-1, .col-lg-push-2, .col-lg-push-3, .col-lg-push-4, .col-lg-push-5, .col-lg-push-6, .col-lg-push-7, .col-lg-push-8, .col-lg-push-9, .col-lg-push-10, .col-lg-push-11, .col-lg-push-12,
.col-xl-push-1, .col-xl-push-2, .col-xl-push-3, .col-xl-push-4, .col-xl-push-5, .col-xl-push-6, .col-xl-push-7, .col-xl-push-8, .col-xl-push-9, .col-xl-push-10, .col-xl-push-11, .col-xl-push-12,
.col-xs-pull-1, .col-xs-pull-2, .col-xs-pull-3, .col-xs-pull-4, .col-xs-pull-5, .col-xs-pull-6, .col-xs-pull-7, .col-xs-pull-8, .col-xs-pull-9, .col-xs-pull-10, .col-xs-pull-11, .col-xs-pull-12,
.col-sm-pull-1, .col-sm-pull-2, .col-sm-pull-3, .col-sm-pull-4, .col-sm-pull-5, .col-sm-pull-6, .col-sm-pull-7, .col-sm-pull-8, .col-sm-pull-9, .col-sm-pull-10, .col-sm-pull-11, .col-sm-pull-12,
.col-md-pull-1, .col-md-pull-2, .col-md-pull-3, .col-md-pull-4, .col-md-pull-5, .col-md-pull-6, .col-md-pull-7, .col-md-pull-8, .col-md-pull-9, .col-md-pull-10, .col-md-pull-11, .col-md-pull-12,
.col-lg-pull-1, .col-lg-pull-2, .col-lg-pull-3, .col-lg-pull-4, .col-lg-pull-5, .col-lg-pull-6, .col-lg-pull-7, .col-lg-pull-8, .col-lg-pull-9, .col-lg-pull-10, .col-lg-pull-11, .col-lg-pull-12,
.col-xl-pull-1, .col-xl-pull-2, .col-xl-pull-3, .col-xl-pull-4, .col-xl-pull-5, .col-xl-pull-6, .col-xl-pull-7, .col-xl-pull-8, .col-xl-pull-9, .col-xl-pull-10, .col-xl-pull-11, .col-xl-pull-12 {
	position: relative;
}

@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: smooth;
	}
}

.center-v {
	display: flex;
	align-items: center;
}

.center-h {
	display: flex;
	justify-content: center;
}

.center-vh {
	display: flex;
	justify-content: center;
	align-items: center;
}