/*----------------------------------------
------------------------------------------
	## BREAKPOINTS
------------------------------------------
----------------------------------------*/

$mq-xs-min: "only screen and (min-width: 420px)";
$mq-sm-min: "only screen and (min-width: 767px)";
$mq-md-min: "only screen and (min-width: 992px)";
$mq-lg-min: "only screen and (min-width: 1200px)";
$mq-xl-min: "only screen and (min-width: 1360px)";
$mq-xxl-min: "only screen and (min-width: 1600px)";
$mq-xxl-max: "only screen and (max-width: 1660px)";
$mq-xl-max: "only screen and (max-width: 1360px)";
$mq-lg-max: "only screen and (max-width: 1200px)";
$mq-md-max: "only screen and (max-width: 992px)";
$mq-sm-max: "only screen and (max-width: 767px)";
$mq-xs-max: "only screen and (max-width: 575px)";
$mq-xxs-max: "only screen and (max-width: 420px)";
$mq-xxxs-max: "only screen and (max-width: 375px)";
$mq-old-max: "only screen and (max-width: 330px)";

body {
	&:before {
		content: 'fhd';
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		margin: 20px;
		padding: 10px;
		font-size: 14px;
		color: white;
		background: black;
		z-index: 99999999999;
		opacity: .5;
		font-family: sans-serif;

		@media #{$mq-xxl-max} { content: 'xxl'; }
		@media #{$mq-xl-max} { content: 'xl'; }
		@media #{$mq-lg-max} { content: 'lg'; }
		@media #{$mq-md-max} { content: 'md'; }
		@media #{$mq-sm-max} { content: 'sm'; }
		@media #{$mq-xs-max} { content: 'xs'; }
		@media #{$mq-xxs-max} { content: 'xxs'; }
		@media #{$mq-xxxs-max} { content: 'xxxs'; }
		@media #{$mq-old-max} { content: 'old'; }
	}
}

/*----------------------------------------
------------------------------------------
	## CONTAINER SIZES
------------------------------------------
----------------------------------------*/

.container {
	max-width: calc( 1432px + 80px * 2 );
    padding: 0 80px;

	@media #{$mq-lg-max} {
		padding: 0 40px;
	}

	@media #{$mq-md-max} {
		padding: 0 24px;
	}

	@media #{$mq-xs-max} {
		padding: 0 22px;
	}
} // END CONTAINER


/*----------------------------------------
------------------------------------------
	## FONT FAMILIES / WEIGHTS
------------------------------------------
----------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

$playfair: 'Playfair Display', serif;

$light: 300;
$regular: 400;
$bold: 700;

/*----------------------------------------
------------------------------------------
	## COLORS
------------------------------------------
----------------------------------------*/

$black:					#000;
$gray-darker:			#222;
$gray-dark:				#333;
$gray-medium:			#666;
$gray-light:			#999;
$gray-lighter:			#bbb;
$gray-lightest:			#ddd;
$almost-white:			#f2f2f2;
$white:					#fff;

$yellow:				#fff037;

/*----------------------------------------
------------------------------------------
	## FONT SIZES
------------------------------------------
----------------------------------------*/

.text {
	font-size: 10vw;
	line-height: 1;
	font-family: $playfair;
} // END TEXT

/*----------------------------------------
------------------------------------------
	## BUTTONS
------------------------------------------
----------------------------------------*/

/*----------------------------------------
------------------------------------------
	## ANIMATIONS
------------------------------------------
----------------------------------------*/

.wow {
	animation-duration: 2s;
} // END WOW

/*----------------------------------------
------------------------------------------
	## DETAILS
------------------------------------------
----------------------------------------*/

body {
	&::-webkit-scrollbar {
		width: 5px;
	} // END SCROLLBAR

	&::-webkit-scrollbar-track {
		background-color: $gray-darker;
		border-radius: 10px;
	} // END SCROLLBAR TRACK

	&::-webkit-scrollbar-thumb {
		background: $white;
		border-radius: 10px;
	} // END SCROLLBAR THUMB
} // END BODY