/*----------------------------------------
------------------------------------------
	## HOME
------------------------------------------
----------------------------------------*/

body {
	background: $yellow;

	.col-12 {
		height: 95vh;
		display: flex;
		align-items: center;
		justify-content: center;
	} // END COL 12
} // END BODY