// colors
$black:					#000;
$gray-darker:			#221e1e;
$gray-dark:				#333;
$gray-medium:			#666;
$gray-light:			#9f9f9f;
$gray-lighter:			#bbb;
$gray-lightest:			#e8e8e8;
$almost-white:			#f2f2f2;
$white:					#fff;

$dark-purple:			#06113C;

// fonts
$plain: 'Plain', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";